SIRSAM_DAEMONS/SIRSAM_Bot_Proyectos/xml-resources/web-service-references/ProyectosBot/wsdl/web.regionsanmartin.gob.pe_8080/SIRSAMWebService/ProyectosBot.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.inversion/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.inversion/" name="ProyectosBot">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.inversion/" schemaLocation="http://web.regionsanmartin.gob.pe:8080/SIRSAMWebService/ProyectosBot?xsd=1" />
</xsd:schema>
</types>
<message name="upsertProyectoComponentes">
<part name="parameters" element="tns:upsertProyectoComponentes" />
</message>
<message name="upsertProyectoComponentesResponse">
<part name="parameters" element="tns:upsertProyectoComponentesResponse" />
</message>
<message name="updateLogsBotCod">
<part name="parameters" element="tns:updateLogsBotCod" />
</message>
<message name="updateLogsBotCodResponse">
<part name="parameters" element="tns:updateLogsBotCodResponse" />
</message>
<message name="insertLogsProyectosBot">
<part name="parameters" element="tns:insertLogsProyectosBot" />
</message>
<message name="insertLogsProyectosBotResponse">
<part name="parameters" element="tns:insertLogsProyectosBotResponse" />
</message>
<message name="upsertProyectoContrataciones">
<part name="parameters" element="tns:upsertProyectoContrataciones" />
</message>
<message name="upsertProyectoContratacionesResponse">
<part name="parameters" element="tns:upsertProyectoContratacionesResponse" />
</message>
<message name="getCodigoSIAF">
<part name="parameters" element="tns:getCodigoSIAF" />
</message>
<message name="getCodigoSIAFResponse">
<part name="parameters" element="tns:getCodigoSIAFResponse" />
</message>
<message name="upsertProyectoUbicacion">
<part name="parameters" element="tns:upsertProyectoUbicacion" />
</message>
<message name="upsertProyectoUbicacionResponse">
<part name="parameters" element="tns:upsertProyectoUbicacionResponse" />
</message>
<message name="getLogsBotCod">
<part name="parameters" element="tns:getLogsBotCod" />
</message>
<message name="getLogsBotCodResponse">
<part name="parameters" element="tns:getLogsBotCodResponse" />
</message>
<message name="getCodigosSIAF">
<part name="parameters" element="tns:getCodigosSIAF" />
</message>
<message name="getCodigosSIAFResponse">
<part name="parameters" element="tns:getCodigosSIAFResponse" />
</message>
<message name="upsertProyectoModificaciones">
<part name="parameters" element="tns:upsertProyectoModificaciones" />
</message>
<message name="upsertProyectoModificacionesResponse">
<part name="parameters" element="tns:upsertProyectoModificacionesResponse" />
</message>
<message name="upsertProyecto">
<part name="parameters" element="tns:upsertProyecto" />
</message>
<message name="upsertProyectoResponse">
<part name="parameters" element="tns:upsertProyectoResponse" />
</message>
<portType name="ProyectosBot">
<operation name="upsertProyectoComponentes">
<input wsam:Action="http://webservice.inversion/ProyectosBot/upsertProyectoComponentesRequest" message="tns:upsertProyectoComponentes" />
<output wsam:Action="http://webservice.inversion/ProyectosBot/upsertProyectoComponentesResponse" message="tns:upsertProyectoComponentesResponse" />
</operation>
<operation name="updateLogsBotCod">
<input wsam:Action="http://webservice.inversion/ProyectosBot/updateLogsBotCodRequest" message="tns:updateLogsBotCod" />
<output wsam:Action="http://webservice.inversion/ProyectosBot/updateLogsBotCodResponse" message="tns:updateLogsBotCodResponse" />
</operation>
<operation name="insertLogsProyectosBot">
<input wsam:Action="http://webservice.inversion/ProyectosBot/insertLogsProyectosBotRequest" message="tns:insertLogsProyectosBot" />
<output wsam:Action="http://webservice.inversion/ProyectosBot/insertLogsProyectosBotResponse" message="tns:insertLogsProyectosBotResponse" />
</operation>
<operation name="upsertProyectoContrataciones">
<input wsam:Action="http://webservice.inversion/ProyectosBot/upsertProyectoContratacionesRequest" message="tns:upsertProyectoContrataciones" />
<output wsam:Action="http://webservice.inversion/ProyectosBot/upsertProyectoContratacionesResponse" message="tns:upsertProyectoContratacionesResponse" />
</operation>
<operation name="getCodigoSIAF">
<input wsam:Action="http://webservice.inversion/ProyectosBot/getCodigoSIAFRequest" message="tns:getCodigoSIAF" />
<output wsam:Action="http://webservice.inversion/ProyectosBot/getCodigoSIAFResponse" message="tns:getCodigoSIAFResponse" />
</operation>
<operation name="upsertProyectoUbicacion">
<input wsam:Action="http://webservice.inversion/ProyectosBot/upsertProyectoUbicacionRequest" message="tns:upsertProyectoUbicacion" />
<output wsam:Action="http://webservice.inversion/ProyectosBot/upsertProyectoUbicacionResponse" message="tns:upsertProyectoUbicacionResponse" />
</operation>
<operation name="getLogsBotCod">
<input wsam:Action="http://webservice.inversion/ProyectosBot/getLogsBotCodRequest" message="tns:getLogsBotCod" />
<output wsam:Action="http://webservice.inversion/ProyectosBot/getLogsBotCodResponse" message="tns:getLogsBotCodResponse" />
</operation>
<operation name="getCodigosSIAF">
<input wsam:Action="http://webservice.inversion/ProyectosBot/getCodigosSIAFRequest" message="tns:getCodigosSIAF" />
<output wsam:Action="http://webservice.inversion/ProyectosBot/getCodigosSIAFResponse" message="tns:getCodigosSIAFResponse" />
</operation>
<operation name="upsertProyectoModificaciones">
<input wsam:Action="http://webservice.inversion/ProyectosBot/upsertProyectoModificacionesRequest" message="tns:upsertProyectoModificaciones" />
<output wsam:Action="http://webservice.inversion/ProyectosBot/upsertProyectoModificacionesResponse" message="tns:upsertProyectoModificacionesResponse" />
</operation>
<operation name="upsertProyecto">
<input wsam:Action="http://webservice.inversion/ProyectosBot/upsertProyectoRequest" message="tns:upsertProyecto" />
<output wsam:Action="http://webservice.inversion/ProyectosBot/upsertProyectoResponse" message="tns:upsertProyectoResponse" />
</operation>
</portType>
<binding name="ProyectosBotPortBinding" type="tns:ProyectosBot">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="upsertProyectoComponentes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateLogsBotCod">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertLogsProyectosBot">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="upsertProyectoContrataciones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCodigoSIAF">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="upsertProyectoUbicacion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLogsBotCod">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCodigosSIAF">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="upsertProyectoModificaciones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="upsertProyecto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ProyectosBot">
<port name="ProyectosBotPort" binding="tns:ProyectosBotPortBinding">
<soap:address location="http://web.regionsanmartin.gob.pe:8080/SIRSAMWebService/ProyectosBot" />
</port>
</service>
</definitions>